spring:
  application:
    name: sdjpa-wordpress

  docker:
    compose:
      enabled: false
      stop:
        command: down

  datasource:
    # we are using the h2 in compatible mode with mysql
    url: jdbc:h2:mem:sdjpa-wordpress-db;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE;MODE=MYSQL;DATABASE_TO_LOWER=TRUE;CASE_INSENSITIVE_IDENTIFIERS=TRUE
    username: sa
    password: password

  sql:
    init:
      schema-locations: classpath:h2-schema.sql
      data-locations: classpath:h2-data.sql
      mode: always

  jpa:
    # we are using the h2 in compatible mode with mysql
    database: mysql
    hibernate:
      ddl-auto: validate
    defer-datasource-initialization: false
    properties:
      hibernate:
        # we are using the h2 in compatible mode with mysql
        dialect: org.hibernate.dialect.MySQLDialect
        show_sql: true
        format_sql: true

  h2:
    console:
      enabled: true

  flyway:
    enabled: false

management:
  health:
    readinessstate:
      enabled: true
    livenessstate:
      enabled: true
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    configprops:
      # WARNING: SECURITY RISK - DO NOT USE IN PRODUCTION ENVIRONMENT
      # This configuration exposes sensitive data and should only be used for development or testing purposes.
      # Ensure this is disabled in any environment where security is a concern.
      show-values: ALWAYS
    health:
      probes:
        enabled: true
      show-details: always
  info:
    build:
      enabled: true
    env:
      enabled: true
    java:
      enabled: true
    os:
      enabled: true
    git:
      enabled: true
      mode: full
  httpexchanges:
    recording:
      enabled: true
      include: request_headers, response_headers, session_id, time_taken
  observations:
    http:
      server:
        requests:
          name: http.server.requests
      client:
        requests:
          name: http-client-requests
  otlp:
    metrics:
      export:
        enabled: false
  tracing:
    export:
      otlp:
        enabled: false
    sampling:
      probability: 1.0
  logging:
    export:
      enabled: false
      otlp:
        enabled: false
  simple:
    metrics:
      export:
        enabled: false

logging:
  level:
    org.hibernate.orm.jdbc.bind: INFO

server:
  port: 8080
